
<partial name="/Views/CostEstimatorCalculator/_CostEstimatorCalculatorParameter.cshtml" />
<div id="SearchResult"></div>

@section scripts {
   
    
    <script>
            
        $(document).ready(function () {
            $("#filterForm").submit();
        });

        
    </script>
}

