@{
	Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Toolbar-->
	<div class="toolbar" id="kt_toolbar">
		<!--begin::Container-->
		<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
			<!--begin::Page title-->
			<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
				<!--begin::Title-->
				<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Add Top Calculator</h1>
				<!--end::Title-->
				<!--begin::Separator-->
				<span class="h-20px border-gray-300 border-start mx-4"></span>
				<!--end::Separator-->
				<!--begin::Breadcrumb-->
				<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
					<!--begin::Item-->
					<li class="breadcrumb-item text-muted">
						<a href="" class="text-muted text-hover-primary">Home</a>
					</li>
					<!--end::Item-->
					<!--begin::Item-->
					<li class="breadcrumb-item">
						<span class="bullet bg-gray-300 w-5px h-2px"></span>
					</li>
					<!--end::Item-->
					<!--begin::Item-->
                    <li class="breadcrumb-item text-muted">Calculator</li>
					<!--end::Item-->
					<!--begin::Item-->
					<li class="breadcrumb-item">
						<span class="bullet bg-gray-300 w-5px h-2px"></span>
					</li>
					<!--end::Item-->
					<!--begin::Item-->
                    <li class="breadcrumb-item text-dark">Add topCalculator</li>
					<!--end::Item-->
				</ul>
				<!--end::Breadcrumb-->
			</div>
			<!--end::Page title-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Post-->
	<div class="post d-flex flex-column-fluid" id="kt_post">
		<!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <div class="row gy-5 g-xl-8">
                <div class="col-xl-12">
                    <!--begin::Card-->
                    <div class="card shadow-lg">
                        <!--begin::Card body-->
                        <div class="card-body">
                            <!--begin::Heading-->
                            <div class="card-px   pb-15">
                                <!--begin::Title-->
                                <h2 class="fs-2x fw-bolder mb-15"> Add Top Calculator </h2>
                                <!--end::Title-->
                                <!--begin::Description-->
                                <!--end::Description-->
                                <!--begin::Scroll-->
                                <!--begin::Input group-->
                                <div class="row mb-5">
                                    <div Class="mt-1 col col-lg
                                                    -6">
                                        <!--begin::Label-->
                                        <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                            <span class="required">Category</span>
                                            <i class="fas fa-exclamation-circle ms-2 fs-7"
                                               data-bs-toggle="tooltip" title="Select Category"></i>
                                        </label>
                                        <!--end::Label-->
                                        <select class="form-select form-select-solid pb-4 select2-hidden-accessible"
                                                data-control="select2" data-placeholder="Select Category"
                                                data-allow-clear="true"
                                                data-select2-id="select1-data-12-kpd1" tabindex="-1"
                                                aria-hidden="true">
                                            <option data-select2-id="select2-data-145-fc7n" class="">
                                            </option>
                                            <option value="Computers">Category 1</option>
                                            <option value="Watches">Category 2</option>
                                            <option value="Headphones">Category 3</option>
                                            <option value="Footwear">
                                                Category 4
                                            </option>

                                        </select>
                                    </div>

                                    <div Class="mt-1 col col-lg
                                                    -6">
                                        <!--begin::Label-->
                                        <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                            <span class="required">Calculator</span>
                                            <i class="fas fa-exclamation-circle ms-2 fs-7"
                                               data-bs-toggle="tooltip" title="Select Calculator"></i>
                                        </label>
                                        <!--end::Label-->
                                        <select class="form-select form-select-solid pb-4 select2-hidden-accessible"
                                                data-control="select2" data-placeholder="Select Calculator"
                                                data-allow-clear="true"
                                                data-select2-id="select1-data-12-kpd2" tabindex="-1"
                                                aria-hidden="true">
                                            <option data-select2-id="select2-data-146-fc7n" class="">
                                            </option>
                                            <option value="Computers">Calculator 1</option>
                                            <option value="Watches">Calculator 2</option>
                                            <option value="Headphones">Calculator 3</option>
                                            <option value="Footwear">
                                                Calculator 4
                                            </option>

                                        </select>
                                    </div>

                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-5">

                                    <!--begin::Col-->
                                    <!--begin::Col-->
                                    <div class="col-md-6 fv-row">
                                        <!--begin::Label-->
                                        <label class="required  fs-5 fw-bold  mb-2">
                                            Calculator
                                            Sequence
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="text"
                                               class="form-control form-control-solid hovarable"
                                               placeholder="Calculator-Sequence" name="first-name" />
                                        <!--end::Input-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="d-flex flex-column mb-5 fv-row">
                                    <!--begin::Label-->
                                    <label class="fs-5 fw-bold mb-2">Calculator Description</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <textarea rows="5" cols="50" class="form-control form-control-solid"
                                              placeholder="Calculator-Description" name="CalculatorDescription"></textarea>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->


                                <div class="row mt-3">
                                    <div class="col text-end">
                                        <a href="#" class="btn btn-primary btn-sm">Submit</a>
                                        <a href="#" class="btn btn-danger btn-sm">clear</a>
                                    </div>
                                </div>
                                <!--end::Scroll-->
                            </div>
                            <!--end::Heading-->
                            <!--begin::Illustration-->
                            <div class="text-center pb-15 px-5">
                                <img src="assets/media/illustratiions/sketchy-1/19.png" alt=""
                                     class="mw-100 h-200px h-sm-325px" />
                            </div>
                            <!--end::Illustration-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
		<!--end::Container-->
	</div>
	<!--end::Post-->
</div>
