
<partial name="/Views/PCCCalculator/_PCCCalculatorParameter.cshtml" />
<div id="SearchResult"></div>

@section scripts {

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
         
        $(document).ready(function () {
            $("#filterForm").submit();
        });

        

        function OtherPPartition() {
            var dropdown = document.getElementById("Other");
            var selectedValue = dropdown.value;
            var x = document.getElementById("OtherPartition");
            if (selectedValue == "3") {
                x.style.display = "flex";
            }else{
                x.style.display = "none";
            }
        }
    </script>
}

