
<partial name="/Views/AsphaltCalculator/_AsphaltCalculatorParameter.cshtml" />
<div id="SearchResult"></div>

@section scripts {
   
    
    <script>
         
        $(document).ready(function () {
            $("#filterForm").submit();
        });

        
    </script>
}

