@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<!-- begin : first table -->
<div class="row gy-5 g-xl-8">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
              
        <div class="row">
                    <!--begin: total value -->
          <div class="col-md-12 text-center">
              <h4 class="card-title fw-bolder">Size of Air Conditioner</h4>
              <span class="text-danger fw-bolder" style="font-size: 23px">@ViewBag.lblSizeOfAc</span>
              <h4 class="text-danger fw-bolder" style="font-size: 23px">Tone</h4>
              <p class="card-title  mb-5">All calculations are estimates based on the information you provide. It depends on several factors like city of use, no of people in a room,appliances in the room, etc</p>
          </div>
                    <!--end: total value -->
        </div>
               

      </div>
    </div>
  </div>
    <!-- begin : calculation steps  -->
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="card-title fw-bolder">@Model.CalculatorName</h4>
                        <br/>
                        <div class="table-responsive">
                            <blockquote>
                                <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblFormulaAcSize))</label>
                            </blockquote>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
    <!-- begin : calculation steps  -->
</div>
<!-- end : first table -->

@foreach (var pagecontect in ViewBag.Page)
{

    @Html.Raw(WebUtility.HtmlDecode(pagecontect.PageContent))

}