@model CivilCalc.Models.AirConditionerSizeCalculator;
<div class="row gy-5 g-xl-8">
    <div class="col-md-7 mb-md-5 mb-xl-10">
        <div class="card shadow">
            <div class="card-header">
                <h3 class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="https://www.civil-engineering-calculators.com/images/icons/claybricks.png" />
                    &nbsp;BRICK MASONRY CALCULATION
                </h3>
            </div>
            <div class="card-body">
                <form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                      data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
                      asp-action="_Calculation" asp-controller="AirConditionerSizeCalculator" novalidate="novalidate">
                    @Html.AntiForgeryToken()

                    
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Length of Room
                                <span title="Check out over 200 in-house components, plugins and ready for use sd solutions"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm input-group-solid">
                                        <input type="text" asp-for="txtLengthA" value="3"
                                               class="form-control"/>
                                        <span id="lengthToMF" class="input-group-text text-primary">feet</span>
                                        @*@Html.ValidationMessageFor(m => m.txtWallLengthA, "", new { @class = "form-text text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm input-group-solid mt-1">
                                        <input type="text" asp-for="txtLengthB" value="6"
                                               class="form-control" />
                                        <span id="lengthToCI" class="input-group-text text-primary">inch</span>
                                        @*@Html.ValidationMessageFor(m => m.txtWallLengthB, "", new { @class = "form-text text-danger" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Breadth of Room
                                <span title="Check out over 200 in-house components, plugins and ready for use sd solutions"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm input-group-solid">
                                        <input type="text" asp-for="txtBreadthA" value="3"
                                               class="form-control"
                                               aria-label="Amount (to the nearest dollar)" />
                                        <span id="heightToMF" class="input-group-text text-primary">feet</span>
                                        @*@Html.ValidationMessageFor(m => m.txtWallDepthA, "", new { @class = "form-text text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm input-group-solid mt-1">
                                        <input type="text" asp-for="txtBreadthA"
                                               class="form-control" value="6"
                                               aria-label="Amount (to the nearest dollar)" />
                                        <span id="heightToCI" class="input-group-text text-primary">inch</span>
                                        @*@Html.ValidationMessageFor(m => m.txtWallDepthB, "", new { @class = "form-text text-danger" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Height of Room
                                <span title="Check out over 200 in-house components, plugins and ready for use sd solutions"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm input-group-solid">
                                        <input type="text" asp-for="txtHeightA" value="3"
                                               class="form-control"
                                               aria-label="Amount (to the nearest dollar)" />
                                        <span id="heightToMF" class="input-group-text text-primary">feet</span>
                                        @*@Html.ValidationMessageFor(m => m.txtWallDepthA, "", new { @class = "form-text text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm input-group-solid mt-1">
                                        <input type="text" asp-for="txtHeightB"
                                               class="form-control" value="6"
                                               aria-label="Amount (to the nearest dollar)" />
                                        <span id="heightToCI" class="input-group-text text-primary">inch</span>
                                        @*@Html.ValidationMessageFor(m => m.txtWallDepthB, "", new { @class = "form-text text-danger" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                No of Person
                                <span title="Check out over 200 in-house components, plugins and ready for use sd solutions"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm input-group-solid">
                                        <input type="text" asp-for="txtNoofPerson" value="3"
                                               class="form-control"
                                               aria-label="Amount (to the nearest dollar)" />
                                        @*@Html.ValidationMessageFor(m => m.txtWallDepthA, "", new { @class = "form-text text-danger" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Max Temperature
                                <span title="Check out over 200 in-house components, plugins and ready for use sd solutions"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm input-group-solid">
                                        <input type="text" asp-for="txttemperature" value="3"
                                               class="form-control"
                                               aria-label="Amount (to the nearest dollar)" />
                                        <span id="heightToCI" class="input-group-text text-primary">°c</span>
                                        @*@Html.ValidationMessageFor(m => m.txtWallDepthA, "", new { @class = "form-text text-danger" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="text-end">
                        <input onclick="updateChart()" type="submit" value="Submit" class="btn btn-primary btn-sm" />
                        <a asp-action="Index" asp-controller="AirConditionerSizeCalculator" class="btn btn-danger btn-sm">reset</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-5 mb-md-5 mb-xl-10 mb-3">
        <div class="card shadow">
            <div class="card-body img/10319505722267397698.jpeg">
                <div class="row">
                    <img src="~/ClinetPanel/img/10319505722267397698.jpeg" />
                </div>
            </div>
        </div>
    </div>
</div>