@{
    ViewData["Title"] = "Air Conditioner Size Calculator | AC Tonnage Calculator | Air Conditioner Room Size Calculator | AC BTU calculator";
    ViewBag.PageHeader = "Quantity Estimator";
    ViewBag.SubPageHeader = "Calculate Air Conditioner Size";
    ViewBag.Title = "Air Conditioner Size Calculator";

}
<partial name="/Views/AirConditionerSizeCalculator/_Calculator.cshtml" />
<div id="SearchResult"></div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels"></script>
    <script>

        $(document).ready(function () {
            $("#filterForm").submit();
        });

        var oldData = [62, 402, 401];
        var ctx = document.getElementById('BrickChart').getContext('2d');
        ctx.width = 1000;
        ctx.height = 2000;
        var chart = new Chart(ctx, {
            type: 'pie',

            toolTipContent: "(#percent%)",
            data: {
                labels: ['No. of Bricks', 'Cement in kg.', 'Sand in kg.'],
                datasets: [{
                    label: 'Asp dataset',
                    borderColor: 'white',
                    data: oldData,
                    backgroundColor: ['#0AAFF1', '#ff0028',
                        '#F3B200',
                        '#ff5e6c',
                        '#8076a3',
                        '#657a00'
                    ],

                }]
            },
            options: {

                plugins: {
                    legend: false,
                    outlabels: {
                        text: '%l \n %v',
                        color: 'white',
                        stretch: 10,
                        font: {
                            resizable: true,
                            minSize: 12,
                            maxSize: 13,
                        }
                    }
                },
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 35,
                        bottom: 30
                    }
                }
            },
        });

        function updateChart() {
            chart.data.datasets[0].data = "[123,12,896]";
            chart.data.labels = "[ 'No of Bricks','Cement in kg.','Sand in kg.' ]";
            chart.update();
        }

        function mTof(){
            var dropdown = document.getElementById("ddlUnit");
            var selectedValue = dropdown.value;
            if (selectedValue == "1") {
                document.getElementById("lengthToMF").innerHTML = "meter";
                document.getElementById("lengthToCI").innerHTML = "cm";
                document.getElementById("heightToMF").innerHTML = "meter";
                document.getElementById("heightToCI").innerHTML = "cm";
                $("#filterForm").submit();
            }else{
                document.getElementById("lengthToMF").innerHTML = "feet";
                document.getElementById("lengthToCI").innerHTML = "inch";
                document.getElementById("heightToMF").innerHTML = "feet";
                document.getElementById("heightToCI").innerHTML = "inch";
                $("#filterForm").submit();
            }
        }

        

        function initDataTable(tableSelector) {
            $(tableSelector).DataTable({
                "scrollY": "300px",
                "scrollCollapse": true,
                "paging": false,
                "order": [],
                //"scroller": true,
                //"stateSave": true,
                "scrollX": true
            });
        }

        function OnSuccess(formID) {
            if (formID === "filterForm") {
                initDataTable("#tblList");
            }            

            if (formID === "formAddEditSave_UMS") {
                $("#filterForm").submit();
                toastr.success("Record saved successfully..!");
            }         

            if (formID === "formDelete_UMS") {
                $("#filterForm").submit();
                toastr.success("Record deleted successfully..!");
            }
        }
    </script>
}

