@model CivilCalc.Models.SolarRoofTopCalculator;

<div class="row gy-5 g-xl-8">
    <!--begin: parameter-->
    <div class="col-md-7 mb-md-5 mb-xl-10">
        <!--begin: card-->
        <div class="card shadow">
            <!--begin :card header-->
            <div class="card-header">
                <h3 class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(ViewBag.CalculatorIcon)" />
                    &nbsp;@ViewBag.CalculatorName.ToUpper()
                </h3>
            </div>
            <!--end :card header-->
            <!--begin :card body-->
            <div class="card-body">
                <!--begin :form body-->
                <form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                      asp-action="_Calculation" asp-controller="SolarRoofTopCalculator" novalidate="novalidate">
                    @Html.AntiForgeryToken()

                    <!--begin :row 1  Unit-->
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-2">
                                Consuption Typeo
                                <span title="Consumption Types is Genereally Monthly Consumption or Yearly Consumptin."
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <!--begin :input-->
                            <select asp-for="ConsuptionType"
                                    data-bs-placement="right" data-bs-toggle="tooltip" 
                                    title="Select Unit (Feet/Inch &amp; Meter/CM)" 
                                    class="form-select form-select-sm form-select-solid" id="ddlUnit" onchange="meterTofeet()"
                                    aria-label="Select example">
                                <option value="1">Monthly Unit Consumption</option>
                                <option value="12" >Yearly Unit Consumption</option>
                                <span class="input-group-text text-primary">kwh</span>
                            </select>
                            
                            <!--end :input-->
                        </div>
                    </div>
                    <!--end :row 1  Unit-->

                    <!--begin :row 2 Length -->
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Units
                                <span title="A unit may also mean the standard units used for measurement of Electricity Used"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--begin :input-->
                                    <div class="input-group input-group-sm input-group-solid"> 
                                        <input type="text" asp-for="Units" value="500"
                                        data-bs-placement="right" data-bs-toggle="tooltip" id="txtEducation"
                                        title="Enter length" class="form-control" />
                                        <span class="input-group-text text-primary">units</span>
                                        @Html.ValidationMessageFor(m => m.Units, "", new { @class = "form-text text-danger" })
                                    </div>
                                    <!--begin :input-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--begin :row 2 Length-->

                    <hr />
                    <!--begin :form submit-->

                    <div class="text-end">
                        <input  type="submit" value="Submit" class="btn btn-primary btn-sm" />
                        <a asp-action="Index" asp-controller="SolarRoofTopCalculator" class="btn btn-danger btn-sm">reset</a>
                    </div>
                    <!--end :form submit-->
                </form>
                <!--end :form body-->
            </div>
            <!--end :card body-->
        </div>
        <!--end: card-->
    </div>
    <!--end: parameter-->

    <!--begin: ads-->
    <div class="col-md-5 mb-md-5 mb-xl-10 mb-3">
        <!--begin :card-->
        <div class="card shadow">
            <!--begin :card body-->
            <div class="card-body">
                <div class="row">
                    <img src="~/ClinetPanel/img/10319505722267397698.jpeg" />
                </div>
            </div>
            <!--end :card body-->
        </div>
        <!--end :card -->
    </div>
    <!--end: ads-->
</div>
