@{
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
    ViewData["Title"] = "Home Page";
}


<div class="row gy-5 g-xl-8 mt-0" >
    <div class="col-md-3 mb-md-5 mb-xl-10 mb-3">
        <div class="row gy-5 g-xl-8">
            <div class="col-md-12 mb-3">
                <partial name="_MostSearchedbar" />
            </div>
            <div class="col-md-12 mb-md-5 mb-xl-10 mb-3">
                <partial name="_NewCalculatorbar" />
            </div>
        </div>
    </div>
    <div class="col-md-9 mb-md-5 mb-xl-10 mb-3">
        <div class="row gy-5 g-xl-8">
            <div class="col-md-12 mb-md-5 mb-xl-10 mb-3">
                <div class="row gy-5 g-xl-8" >
                    <partial name="_AllCalculators" />
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row gy-5 g-xl-8" >
     <div class="col-md-5 mb-md-5 mb-xl-10 mb-3">
        <div class="card shadow">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-building"></i>
                    &nbsp;Civil Engineering Calculator
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <p>Mathematics equations play a vital role for Civil Engineer to study various prospects such as cost factor, blending of aggregates, sieve analysis, soil test, environment engineering test. A simple Civil Engineering Calculator tool is a collection of Civil Engineering calculations for Civil Engineers and Students to calculate different types of civil related units which are utmost importance before implementing any project.</p>
                </div>
                <div class="row" >
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7 mb-md-5 mb-xl-10">
        <div class="card shadow">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="bi bi-android"></i>
                    &nbsp;Mobile App - Civil Quantity Estimator
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="row input-group mb-2">
                        <p>Civil Quantity Estimator contains the set of calculators for the estimation of Cement Concrete, Clay Bricks, Cement Blocks, Paint, Steel, Flooring, Compound wall, Plastering, Tank Volume, Excavation, etc.</p>
                    </div>
                    <div class="row input-group mb-2">
                        <img class="img-fuild" src="https://www.civil-engineering-calculators.com/images/AndroidApp/Flyer_MobileApp_CivilQuantityEstimator.png" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
