@model CivilCalc.Areas.LOG_Calculation.Models.LOG_CalculationModel

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">
            <span class="me-2"><i class="fa fa-search"></i></span> Search
            <small></small>
        </h3>
        <div class="card-toolbar">
           

        </div>
    </div>
    <div class="card-body">
        <form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
              data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
              asp-area="LOG_Calculation" asp-action="_SearchResult" asp-controller="LOG_Calculation" novalidate="novalidate">
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-4">
                    <label class="fw-bolder">Screen Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                        <input type="text" asp-for="F_ScreenName" class="form-control" placeholder="Enter Screen Name" />
                    </div>
                </div>
            </div>

            <hr />
            <input type="submit" value="Submit" class="btn btn-success btn-sm" />
        </form>
    </div>
</div>