@{
    ViewData["Title"] = "Category";
    ViewBag.PageHeader = "Category";

}
<partial name="/Views/BrickMasonryCalculator/_FilterForm.cshtml" />
<div id="SearchResult"></div>

@section scripts {
    <script>
        function mTof(){
            var dropdown = document.getElementById("ddlUnit");
            var selectedValue = dropdown.value;
            if (selectedValue == "1") {
                document.getElementById("lengthToMF").innerHTML = "meter";
                document.getElementById("lengthToCI").innerHTML = "cm";
                document.getElementById("heightToMF").innerHTML = "meter";
                document.getElementById("heightToCI").innerHTML = "cm";
                $("#filterForm").submit();
            }else{
                document.getElementById("lengthToMF").innerHTML = "feet";
                document.getElementById("lengthToCI").innerHTML = "inch";
                document.getElementById("heightToMF").innerHTML = "feet";
                document.getElementById("heightToCI").innerHTML = "inch";
                $("#filterForm").submit();
            }
        }

        $(document).ready(function () {
            $("#filterForm").submit();
        });

        function initDataTable(tableSelector) {
            $(tableSelector).DataTable({
                "scrollY": "300px",
                "scrollCollapse": true,
                "paging": false,
                "order": [],
                //"scroller": true,
                //"stateSave": true,
                "scrollX": true
            });
        }

        function OnSuccess(formID) {
            if (formID === "filterForm") {
                initDataTable("#tblList");
            }            

            if (formID === "formAddEditSave_UMS") {
                $("#filterForm").submit();
                toastr.success("Record saved successfully..!");
            }         

            if (formID === "formDelete_UMS") {
                $("#filterForm").submit();
                toastr.success("Record deleted successfully..!");
            }
        }
    </script>
}

