@model CivilCalc.Areas.CAL_NewCalculator.Models.CAL_NewCalculatorModel

<div class="modal-header">
    <h4 class="modal-title">@ViewBag.Action NewCalculator</h4>
    <button type="button" class="btn btn-danger btn-elevate btn-icon btn-sm" data-bs-dismiss="modal" aria-label="Close">
        <i class="fa fa-close"></i>
    </button>
</div>

<div class="modal-body">
    <form id="formAddEditSave_UMS" data-ajax="true" data-ajax-method="post"
          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
          asp-area="CAL_NewCalculator" asp-action="_Save" asp-controller="CAL_NewCalculator">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.NewCalculatorID)

        <div class="form-group row">
            <label class="col-md-4 col-form-label">NewCalculator Name</label>
            <div class="col-md-5 p-2">
                <select class="form-select form-select-solid" asp-for="CalculatorID" asp-items="@(new SelectList(ViewBag.CalculatorList,"CalculatorID","CalculatorName"))"
                        data-control="select2" data-placeholder="Select Calculator"
                        data-allow-clear="true" data-select2-id="select1-data-12-kpd1"
                        tabindex="-1" aria-hidden="true">
                    <option value="1">Select Calculator</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Description </label>
            <div class="col-md-5 p-2">
                <textarea type="text" asp-for="Description" class="form-control" placeholder="Enter  Description " ></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Sequence </label>
            <div class="col-md-5 p-2">
                <input type="text" asp-for="Sequence" class="form-control" placeholder="Enter Sequence " />
            </div>
        </div>
        <hr class="form-button-divider" />
        <div class="row">
            <div class="offset-md-4 col-md-8">
                <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-modal-form-submit" />
                <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
</div>