@{
	Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Toolbar-->
	<div class="toolbar" id="kt_toolbar">
		<!--begin::Container-->
		<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
			<!--begin::Page title-->
			<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
				<!--begin::Title-->
				<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">LIst New Calculator</h1>
				<!--end::Title-->
				<!--begin::Separator-->
				<span class="h-20px border-gray-300 border-start mx-4"></span>
				<!--end::Separator-->
				<!--begin::Breadcrumb-->
				<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
					<!--begin::Item-->
					<li class="breadcrumb-item text-muted">
						<a href="" class="text-muted text-hover-primary">Home</a>
					</li>
					<!--end::Item-->
					<!--begin::Item-->
					<li class="breadcrumb-item">
						<span class="bullet bg-gray-300 w-5px h-2px"></span>
					</li>
					<!--end::Item-->
					<!--begin::Item-->
					<li class="breadcrumb-item text-muted">New Calculator</li>
					<!--end::Item-->
					<!--begin::Item-->
					<li class="breadcrumb-item">
						<span class="bullet bg-gray-300 w-5px h-2px"></span>
					</li>
					<!--end::Item-->
					<!--begin::Item-->
					<li class="breadcrumb-item text-dark">LIst New Calculator</li>
					<!--end::Item-->
				</ul>
				<!--end::Breadcrumb-->
			</div>
			<!--end::Page title-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Post-->
	<div class="post d-flex flex-column-fluid" id="kt_post">
		<!--begin::Container-->
		<div id="kt_content_container" class="container-xxl">
			<!--begin::Products-->
			<div class="card card-flush">
				<!--begin::Card header-->
				<div class="card-header border-0 pt-5">
					<h3 class="card-title align-items-start flex-column">
						<span class="card-label fw-bolder fs-3 mb-1">
							<span class="svg-icon svg-icon-primary svg-icon-2x ">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
									 viewBox="0 0 24 24" fill="none">
									<path d="M13 11H3C2.4 11 2 10.6 2 10V9C2 8.4 2.4 8 3 8H13C13.6 8 14 8.4 14 9V10C14 10.6 13.6 11 13 11ZM22 5V4C22 3.4 21.6 3 21 3H3C2.4 3 2 3.4 2 4V5C2 5.6 2.4 6 3 6H21C21.6 6 22 5.6 22 5Z"
										  fill="black" />
									<path opacity="0.3"
										  d="M21 16H3C2.4 16 2 15.6 2 15V14C2 13.4 2.4 13 3 13H21C21.6 13 22 13.4 22 14V15C22 15.6 21.6 16 21 16ZM14 20V19C14 18.4 13.6 18 13 18H3C2.4 18 2 18.4 2 19V20C2 20.6 2.4 21 3 21H13C13.6 21 14 20.6 14 20Z"
										  fill="black" />
								</svg>
							</span>
							<!--end::Svg Icon-->&nbsp;SEARCH RESULT
						</span>
					</h3>
					<div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top"
						 data-bs-trigger="hover" title=""
						 data-bs-original-title="Click to add a Calculator">
						<a href="#" class="btn btn-sm btn-primary btn-active-secondary"
						   data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
							<!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
							<span class="svg-icon svg-icon-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
									 viewBox="0 0 24 24" fill="none">
									<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2"
										  rx="1" transform="rotate(-90 11.364 20.364)" fill="black">
									</rect>
									<rect x="4.36396" y="11.364" width="16" height="2" rx="1"
										  fill="black"></rect>
								</svg>
							</span>
							<!--end::Svg Icon-->New Calculator
						</a>
					</div>
				</div>
				<!--end::Card header-->
				<!--begin::Card body-->
				<div class="card-body pt-0">
					<!--begin::Table-->
					<div class="table-responsive">
						<table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
							   id="kt_ecommerce_products_table">
							<!--begin::Table head-->
							<thead>
								<!--begin::Table row-->
								<tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
									<th class="w-10px pe-2">Sr.</th>
									<th class="min-w-200px">Calculator</th>
									<th class="min-w-200px">Category</th>
									<th class="min-w-100px">Created By</th>
									<th class="min-w-100px">Created</th>
									<th class="min-w-100px">Modified</th>
									<th class="min-w-70px">Actions</th>
								</tr>
								<!--end::Table row-->
							</thead>
							<!--end::Table head-->
							<!--begin::Table body-->
							<tbody class="fw-bold text-gray-600">
								<!--begin::Table row-->
								<tr>
									<td>1</td>
									<!--begin::Calculator=-->
									<td>
										<div class="d-flex align-items-center">
											<!--begin::Thumbnail-->
											<a href="https://www.civil-engineering-calculators.com/images/icons/Icon_CostEstimator.png"
											   class="symbol symbol-30px">
												<span class="symbol-label"
													  style="background-image:url(https://www.civil-engineering-calculators.com/images/icons/Icon_CostEstimator.png);"></span>
											</a>
											<!--end::Thumbnail-->
											<div class="m-1">
												<!--begin::Title-->
												<a href="#"
												   class="text-gray-800 text-hover-primary fs-5 fw-bolder"
												   data-kt-ecommerce-product-filter="product_name">
													Construction
													Cost Estimator Calculator
												</a>
												<!--end::Title-->
											</div>
										</div>
									</td>
									<!--end::Calculator=-->
									<!--begin::Category=-->
									<td>
										<div class="d-flex align-items-center">
											<div class="m-1 text-gray-800 fs-5 fw-bolder">
												<!--begin::Title-->
												Quantity
												Estimator
												<!--end::Title-->
											</div>
										</div>
									</td>
									<!--end::Category=-->
									<!--begin::Created by=-->
									<td class=" pe-0">
										<span class="fw-bolder">Jeet Sorathiya</span>
									</td>
									<!--end::Created by=-->
									<!--begin::Created=-->
									<td class=" pe-0">
										<span class="fw-bolder">28/05/2022</span>
									</td>
									<!--end::Created=-->
									<!--begin::Created=-->
									<td class=" pe-0">
										<span class="fw-bolder">28/05/2022</span>
									</td>
									<!--end::Created=-->
									<!--begin::Action=-->
									<td>
										<div class="d-flex justify-content-center flex-shrink-0">
											<a href="#" class="text-success"
											   data-kt-menu-trigger="click"
											   data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr029.svg-->
												<span class="svg-icon svg-icon-primary
															 svg-icon-2x">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
														 fill="none">
														<path d="M14.5 20.7259C14.6 21.2259 14.2 21.826 13.7 21.926C13.2 22.026 12.6 22.0259 12.1 22.0259C9.5 22.0259 6.9 21.0259 5 19.1259C1.4 15.5259 1.09998 9.72592 4.29998 5.82592L5.70001 7.22595C3.30001 10.3259 3.59999 14.8259 6.39999 17.7259C8.19999 19.5259 10.8 20.426 13.4 19.926C13.9 19.826 14.4 20.2259 14.5 20.7259ZM18.4 16.8259L19.8 18.2259C22.9 14.3259 22.7 8.52593 19 4.92593C16.7 2.62593 13.5 1.62594 10.3 2.12594C9.79998 2.22594 9.4 2.72595 9.5 3.22595C9.6 3.72595 10.1 4.12594 10.6 4.02594C13.1 3.62594 15.7 4.42595 17.6 6.22595C20.5 9.22595 20.7 13.7259 18.4 16.8259Z"
															  fill="black" />
														<path opacity="0.3"
															  d="M2 3.62592H7C7.6 3.62592 8 4.02592 8 4.62592V9.62589L2 3.62592ZM16 14.4259V19.4259C16 20.0259 16.4 20.4259 17 20.4259H22L16 14.4259Z"
															  fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
											<a href="#" class="text-success"
											   data-kt-menu-trigger="click"
											   data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr019.svg-->
												<span class="svg-icon svg-icon-danger svg-icon-2x">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
														 height="24" viewBox="0 0 24 24" fill="none">
														<path opacity="0.3"
															  d="M12 10.6L14.8 7.8C15.2 7.4 15.8 7.4 16.2 7.8C16.6 8.2 16.6 8.80002 16.2 9.20002L13.4 12L12 10.6ZM10.6 12L7.8 14.8C7.4 15.2 7.4 15.8 7.8 16.2C8 16.4 8.30001 16.5 8.50001 16.5C8.70001 16.5 9.00002 16.4 9.20002 16.2L12 13.4L10.6 12Z"
															  fill="black" />
														<path d="M21 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H21C21.6 2 22 2.4 22 3V21C22 21.6 21.6 22 21 22ZM13.4 12L16.2 9.20001C16.6 8.80001 16.6 8.19999 16.2 7.79999C15.8 7.39999 15.2 7.39999 14.8 7.79999L12 10.6L9.20001 7.79999C8.80001 7.39999 8.19999 7.39999 7.79999 7.79999C7.39999 8.19999 7.39999 8.80001 7.79999 9.20001L10.6 12L7.79999 14.8C7.39999 15.2 7.39999 15.8 7.79999 16.2C7.99999 16.4 8.3 16.5 8.5 16.5C8.7 16.5 9.00001 16.4 9.20001 16.2L12 13.4L14.8 16.2C15 16.4 15.3 16.5 15.5 16.5C15.7 16.5 16 16.4 16.2 16.2C16.6 15.8 16.6 15.2 16.2 14.8L13.4 12Z"
															  fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
											<a href="#" class="text-success"
											   data-kt-menu-trigger="click"
											   data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr020.svg-->
												<span class="svg-icon svg-icon-success svg-icon-2x">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
														 height="24" viewBox="0 0 24 24" fill="none">
														<path opacity="0.3"
															  d="M10.3 14.3L11 13.6L7.70002 10.3C7.30002 9.9 6.7 9.9 6.3 10.3C5.9 10.7 5.9 11.3 6.3 11.7L10.3 15.7C9.9 15.3 9.9 14.7 10.3 14.3Z"
															  fill="black" />
														<path d="M21 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H21C21.6 2 22 2.4 22 3V21C22 21.6 21.6 22 21 22ZM11.7 15.7L17.7 9.70001C18.1 9.30001 18.1 8.69999 17.7 8.29999C17.3 7.89999 16.7 7.89999 16.3 8.29999L11 13.6L7.70001 10.3C7.30001 9.89999 6.69999 9.89999 6.29999 10.3C5.89999 10.7 5.89999 11.3 6.29999 11.7L10.3 15.7C10.5 15.9 10.8 16 11 16C11.2 16 11.5 15.9 11.7 15.7Z"
															  fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
										</div>
									</td>
									<!--end::Action=-->
								</tr>
								<!--end::Table row-->
								<!--begin::Table row-->
								<tr>
									<td>2</td>
									<!--begin::Calculator=-->
									<td>
										<div class="d-flex align-items-center">
											<!--begin::Thumbnail-->
											<a href="https://www.civil-engineering-calculators.com/images/icons/PCC.png"
											   class="symbol symbol-30px">
												<span class="symbol-label"
													  style="background-image:url(https://www.civil-engineering-calculators.com/images/icons/PCC.png);"></span>
											</a>
											<!--end::Thumbnail-->
											<div class="m-1">
												<!--begin::Title-->
												<a href="#"
												   class="text-gray-800 text-hover-primary fs-5 fw-bolder"
												   data-kt-ecommerce-product-filter="product_name">
													Cement
													Concrete Calculator
												</a>
												<!--end::Title-->
											</div>
										</div>
									</td>
									<!--end::Calculator=-->
									<!--begin::Category=-->
									<td>
										<div class="d-flex align-items-center">
											<div class="m-1 text-gray-800 fs-5 fw-bolder">
												<!--begin::Title-->
												Concrete
												Technology
												<!--end::Title-->
											</div>
										</div>
									</td>
									<!--end::Category=-->
									<!--begin::Created by=-->
									<td class=" pe-0">
										<span class="fw-bolder">Jeet Sorathiya</span>
									</td>
									<!--end::Created by=-->
									<!--begin::Created=-->
									<td class=" pe-0">
										<span class="fw-bolder">28/05/2022</span>
									</td>
									<!--end::Created=-->
									<!--begin::Created=-->
									<td class=" pe-0">
										<span class="fw-bolder">28/05/2022</span>
									</td>
									<!--end::Created=-->

									<td>
										<div class="d-flex justify-content-center flex-shrink-0">
											<a href="#" class="text-success"
											   data-kt-menu-trigger="click"
											   data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr029.svg-->
												<span class="svg-icon svg-icon-primary
																 svg-icon-2x">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
														 fill="none">
														<path d="M14.5 20.7259C14.6 21.2259 14.2 21.826 13.7 21.926C13.2 22.026 12.6 22.0259 12.1 22.0259C9.5 22.0259 6.9 21.0259 5 19.1259C1.4 15.5259 1.09998 9.72592 4.29998 5.82592L5.70001 7.22595C3.30001 10.3259 3.59999 14.8259 6.39999 17.7259C8.19999 19.5259 10.8 20.426 13.4 19.926C13.9 19.826 14.4 20.2259 14.5 20.7259ZM18.4 16.8259L19.8 18.2259C22.9 14.3259 22.7 8.52593 19 4.92593C16.7 2.62593 13.5 1.62594 10.3 2.12594C9.79998 2.22594 9.4 2.72595 9.5 3.22595C9.6 3.72595 10.1 4.12594 10.6 4.02594C13.1 3.62594 15.7 4.42595 17.6 6.22595C20.5 9.22595 20.7 13.7259 18.4 16.8259Z"
															  fill="black" />
														<path opacity="0.3"
															  d="M2 3.62592H7C7.6 3.62592 8 4.02592 8 4.62592V9.62589L2 3.62592ZM16 14.4259V19.4259C16 20.0259 16.4 20.4259 17 20.4259H22L16 14.4259Z"
															  fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
											<a href="#" class="text-success"
											   data-kt-menu-trigger="click"
											   data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr019.svg-->
												<span class="svg-icon svg-icon-danger svg-icon-2x">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
														 height="24" viewBox="0 0 24 24" fill="none">
														<path opacity="0.3"
															  d="M12 10.6L14.8 7.8C15.2 7.4 15.8 7.4 16.2 7.8C16.6 8.2 16.6 8.80002 16.2 9.20002L13.4 12L12 10.6ZM10.6 12L7.8 14.8C7.4 15.2 7.4 15.8 7.8 16.2C8 16.4 8.30001 16.5 8.50001 16.5C8.70001 16.5 9.00002 16.4 9.20002 16.2L12 13.4L10.6 12Z"
															  fill="black" />
														<path d="M21 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H21C21.6 2 22 2.4 22 3V21C22 21.6 21.6 22 21 22ZM13.4 12L16.2 9.20001C16.6 8.80001 16.6 8.19999 16.2 7.79999C15.8 7.39999 15.2 7.39999 14.8 7.79999L12 10.6L9.20001 7.79999C8.80001 7.39999 8.19999 7.39999 7.79999 7.79999C7.39999 8.19999 7.39999 8.80001 7.79999 9.20001L10.6 12L7.79999 14.8C7.39999 15.2 7.39999 15.8 7.79999 16.2C7.99999 16.4 8.3 16.5 8.5 16.5C8.7 16.5 9.00001 16.4 9.20001 16.2L12 13.4L14.8 16.2C15 16.4 15.3 16.5 15.5 16.5C15.7 16.5 16 16.4 16.2 16.2C16.6 15.8 16.6 15.2 16.2 14.8L13.4 12Z"
															  fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
											<a href="#" class="text-success"
											   data-kt-menu-trigger="click"
											   data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr020.svg-->
												<span class="svg-icon svg-icon-success svg-icon-2x">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
														 height="24" viewBox="0 0 24 24" fill="none">
														<path opacity="0.3"
															  d="M10.3 14.3L11 13.6L7.70002 10.3C7.30002 9.9 6.7 9.9 6.3 10.3C5.9 10.7 5.9 11.3 6.3 11.7L10.3 15.7C9.9 15.3 9.9 14.7 10.3 14.3Z"
															  fill="black" />
														<path d="M21 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H21C21.6 2 22 2.4 22 3V21C22 21.6 21.6 22 21 22ZM11.7 15.7L17.7 9.70001C18.1 9.30001 18.1 8.69999 17.7 8.29999C17.3 7.89999 16.7 7.89999 16.3 8.29999L11 13.6L7.70001 10.3C7.30001 9.89999 6.69999 9.89999 6.29999 10.3C5.89999 10.7 5.89999 11.3 6.29999 11.7L10.3 15.7C10.5 15.9 10.8 16 11 16C11.2 16 11.5 15.9 11.7 15.7Z"
															  fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
										</div>
									</td>
								</tr>
								<!--end::Table row-->
								<!--begin::Table row-->
								<tr>
									<td>3</td>
									<!--begin::Calculator=-->
									<td>
										<div class="d-flex align-items-center">
											<!--begin::Thumbnail-->
											<a href="https://www.civil-engineering-calculators.com/images/icons/PCC.png"
											   class="symbol symbol-30px">
												<span class="symbol-label"
													  style="background-image:url(https://www.civil-engineering-calculators.com/images/icons/PCC.png);"></span>
											</a>
											<!--end::Thumbnail-->
											<div class="m-1">
												<!--begin::Title-->
												<a href="#"
												   class="text-gray-800 text-hover-primary fs-5 fw-bolder"
												   data-kt-ecommerce-product-filter="product_name">
													PCC
													Calculator
												</a>
												<!--end::Title-->
											</div>
										</div>
									</td>
									<!--end::Calculator=-->
									<!--begin::Category=-->
									<td>
										<div class="d-flex align-items-center">
											<div class="m-1 text-gray-800 fs-5 fw-bolder">
												<!--begin::Title-->
												Geotechnical
												Engineering
												<!--end::Title-->
											</div>
										</div>
									</td>
									<!--end::Category=-->
									<!--begin::Created by=-->
									<td class=" pe-0">
										<span class="fw-bolder">Jeet Sorathiya</span>
									</td>
									<!--end::Created by=-->
									<!--begin::Created=-->
									<td class=" pe-0">
										<span class="fw-bolder">28/05/2022</span>
									</td>
									<!--end::Created=-->
									<!--begin::Created=-->
									<td class=" pe-0">
										<span class="fw-bolder">28/05/2022</span>
									</td>
									<!--end::Created=-->

									<td>
										<div class="d-flex justify-content-center flex-shrink-0">
											<a href="#" class="text-success"
											   data-kt-menu-trigger="click"
											   data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr029.svg-->
												<span class="svg-icon svg-icon-primary
																 svg-icon-2x">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
														 fill="none">
														<path d="M14.5 20.7259C14.6 21.2259 14.2 21.826 13.7 21.926C13.2 22.026 12.6 22.0259 12.1 22.0259C9.5 22.0259 6.9 21.0259 5 19.1259C1.4 15.5259 1.09998 9.72592 4.29998 5.82592L5.70001 7.22595C3.30001 10.3259 3.59999 14.8259 6.39999 17.7259C8.19999 19.5259 10.8 20.426 13.4 19.926C13.9 19.826 14.4 20.2259 14.5 20.7259ZM18.4 16.8259L19.8 18.2259C22.9 14.3259 22.7 8.52593 19 4.92593C16.7 2.62593 13.5 1.62594 10.3 2.12594C9.79998 2.22594 9.4 2.72595 9.5 3.22595C9.6 3.72595 10.1 4.12594 10.6 4.02594C13.1 3.62594 15.7 4.42595 17.6 6.22595C20.5 9.22595 20.7 13.7259 18.4 16.8259Z"
															  fill="black" />
														<path opacity="0.3"
															  d="M2 3.62592H7C7.6 3.62592 8 4.02592 8 4.62592V9.62589L2 3.62592ZM16 14.4259V19.4259C16 20.0259 16.4 20.4259 17 20.4259H22L16 14.4259Z"
															  fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
											<a href="#" class="text-success"
											   data-kt-menu-trigger="click"
											   data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr019.svg-->
												<span class="svg-icon svg-icon-danger svg-icon-2x">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
														 height="24" viewBox="0 0 24 24" fill="none">
														<path opacity="0.3"
															  d="M12 10.6L14.8 7.8C15.2 7.4 15.8 7.4 16.2 7.8C16.6 8.2 16.6 8.80002 16.2 9.20002L13.4 12L12 10.6ZM10.6 12L7.8 14.8C7.4 15.2 7.4 15.8 7.8 16.2C8 16.4 8.30001 16.5 8.50001 16.5C8.70001 16.5 9.00002 16.4 9.20002 16.2L12 13.4L10.6 12Z"
															  fill="black" />
														<path d="M21 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H21C21.6 2 22 2.4 22 3V21C22 21.6 21.6 22 21 22ZM13.4 12L16.2 9.20001C16.6 8.80001 16.6 8.19999 16.2 7.79999C15.8 7.39999 15.2 7.39999 14.8 7.79999L12 10.6L9.20001 7.79999C8.80001 7.39999 8.19999 7.39999 7.79999 7.79999C7.39999 8.19999 7.39999 8.80001 7.79999 9.20001L10.6 12L7.79999 14.8C7.39999 15.2 7.39999 15.8 7.79999 16.2C7.99999 16.4 8.3 16.5 8.5 16.5C8.7 16.5 9.00001 16.4 9.20001 16.2L12 13.4L14.8 16.2C15 16.4 15.3 16.5 15.5 16.5C15.7 16.5 16 16.4 16.2 16.2C16.6 15.8 16.6 15.2 16.2 14.8L13.4 12Z"
															  fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
											<a href="#" class="text-success"
											   data-kt-menu-trigger="click"
											   data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr020.svg-->
												<span class="svg-icon svg-icon-success svg-icon-2x">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
														 height="24" viewBox="0 0 24 24" fill="none">
														<path opacity="0.3"
															  d="M10.3 14.3L11 13.6L7.70002 10.3C7.30002 9.9 6.7 9.9 6.3 10.3C5.9 10.7 5.9 11.3 6.3 11.7L10.3 15.7C9.9 15.3 9.9 14.7 10.3 14.3Z"
															  fill="black" />
														<path d="M21 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H21C21.6 2 22 2.4 22 3V21C22 21.6 21.6 22 21 22ZM11.7 15.7L17.7 9.70001C18.1 9.30001 18.1 8.69999 17.7 8.29999C17.3 7.89999 16.7 7.89999 16.3 8.29999L11 13.6L7.70001 10.3C7.30001 9.89999 6.69999 9.89999 6.29999 10.3C5.89999 10.7 5.89999 11.3 6.29999 11.7L10.3 15.7C10.5 15.9 10.8 16 11 16C11.2 16 11.5 15.9 11.7 15.7Z"
															  fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
										</div>
									</td>
								</tr>
								<!--end::Table row-->
								<!--begin::Table row-->
								<tr>
									<td>4</td>
									<!--begin::Calculator=-->
									<td>
										<div class="d-flex align-items-center">
											<!--begin::Thumbnail-->
											<a href="https://www.civil-engineering-calculators.com/images/icons/wood-frame.png"
											   class="symbol symbol-30px">
												<span class="symbol-label"
													  style="background-image:url(https://www.civil-engineering-calculators.com/images/icons/wood-frame.png);"></span>
											</a>
											<!--end::Thumbnail-->
											<div class="m-1">
												<!--begin::Title-->
												<a href="#"
												   class="text-gray-800 text-hover-primary fs-5 fw-bolder"
												   data-kt-ecommerce-product-filter="product_name">
													Wood
													Framing Calculator
												</a>
												<!--end::Title-->
											</div>
										</div>
									</td>
									<!--end::Calculator=-->
									<!--begin::Category=-->
									<td>
										<div class="d-flex align-items-center">
											<div class="m-1 text-gray-800 fs-5 fw-bolder">
												<!--begin::Title-->
												Environmental
												Engineering
												<!--end::Title-->
											</div>
										</div>
									</td>
									<!--end::Category=-->
									<!--begin::Created by=-->
									<td class=" pe-0">
										<span class="fw-bolder">Jeet Sorathiya</span>
									</td>
									<!--end::Created by=-->
									<!--begin::Created=-->
									<td class=" pe-0">
										<span class="fw-bolder">28/05/2022</span>
									</td>
									<!--end::Created=-->
									<!--begin::Created=-->
									<td class=" pe-0">
										<span class="fw-bolder">28/05/2022</span>
									</td>
									<!--end::Created=-->

									<td>
										<div class="d-flex justify-content-center flex-shrink-0">
											<a href="#" class="text-success"
											   data-kt-menu-trigger="click"
											   data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr029.svg-->
												<span class="svg-icon svg-icon-primary
																 svg-icon-2x">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
														 fill="none">
														<path d="M14.5 20.7259C14.6 21.2259 14.2 21.826 13.7 21.926C13.2 22.026 12.6 22.0259 12.1 22.0259C9.5 22.0259 6.9 21.0259 5 19.1259C1.4 15.5259 1.09998 9.72592 4.29998 5.82592L5.70001 7.22595C3.30001 10.3259 3.59999 14.8259 6.39999 17.7259C8.19999 19.5259 10.8 20.426 13.4 19.926C13.9 19.826 14.4 20.2259 14.5 20.7259ZM18.4 16.8259L19.8 18.2259C22.9 14.3259 22.7 8.52593 19 4.92593C16.7 2.62593 13.5 1.62594 10.3 2.12594C9.79998 2.22594 9.4 2.72595 9.5 3.22595C9.6 3.72595 10.1 4.12594 10.6 4.02594C13.1 3.62594 15.7 4.42595 17.6 6.22595C20.5 9.22595 20.7 13.7259 18.4 16.8259Z"
															  fill="black" />
														<path opacity="0.3"
															  d="M2 3.62592H7C7.6 3.62592 8 4.02592 8 4.62592V9.62589L2 3.62592ZM16 14.4259V19.4259C16 20.0259 16.4 20.4259 17 20.4259H22L16 14.4259Z"
															  fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
											<a href="#" class="text-success"
											   data-kt-menu-trigger="click"
											   data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr019.svg-->
												<span class="svg-icon svg-icon-danger svg-icon-2x">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
														 height="24" viewBox="0 0 24 24" fill="none">
														<path opacity="0.3"
															  d="M12 10.6L14.8 7.8C15.2 7.4 15.8 7.4 16.2 7.8C16.6 8.2 16.6 8.80002 16.2 9.20002L13.4 12L12 10.6ZM10.6 12L7.8 14.8C7.4 15.2 7.4 15.8 7.8 16.2C8 16.4 8.30001 16.5 8.50001 16.5C8.70001 16.5 9.00002 16.4 9.20002 16.2L12 13.4L10.6 12Z"
															  fill="black" />
														<path d="M21 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H21C21.6 2 22 2.4 22 3V21C22 21.6 21.6 22 21 22ZM13.4 12L16.2 9.20001C16.6 8.80001 16.6 8.19999 16.2 7.79999C15.8 7.39999 15.2 7.39999 14.8 7.79999L12 10.6L9.20001 7.79999C8.80001 7.39999 8.19999 7.39999 7.79999 7.79999C7.39999 8.19999 7.39999 8.80001 7.79999 9.20001L10.6 12L7.79999 14.8C7.39999 15.2 7.39999 15.8 7.79999 16.2C7.99999 16.4 8.3 16.5 8.5 16.5C8.7 16.5 9.00001 16.4 9.20001 16.2L12 13.4L14.8 16.2C15 16.4 15.3 16.5 15.5 16.5C15.7 16.5 16 16.4 16.2 16.2C16.6 15.8 16.6 15.2 16.2 14.8L13.4 12Z"
															  fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
											<a href="#" class="text-success"
											   data-kt-menu-trigger="click"
											   data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr020.svg-->
												<span class="svg-icon svg-icon-success svg-icon-2x">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
														 height="24" viewBox="0 0 24 24" fill="none">
														<path opacity="0.3"
															  d="M10.3 14.3L11 13.6L7.70002 10.3C7.30002 9.9 6.7 9.9 6.3 10.3C5.9 10.7 5.9 11.3 6.3 11.7L10.3 15.7C9.9 15.3 9.9 14.7 10.3 14.3Z"
															  fill="black" />
														<path d="M21 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H21C21.6 2 22 2.4 22 3V21C22 21.6 21.6 22 21 22ZM11.7 15.7L17.7 9.70001C18.1 9.30001 18.1 8.69999 17.7 8.29999C17.3 7.89999 16.7 7.89999 16.3 8.29999L11 13.6L7.70001 10.3C7.30001 9.89999 6.69999 9.89999 6.29999 10.3C5.89999 10.7 5.89999 11.3 6.29999 11.7L10.3 15.7C10.5 15.9 10.8 16 11 16C11.2 16 11.5 15.9 11.7 15.7Z"
															  fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
										</div>
									</td>
								</tr>
								<!--end::Table row-->

							</tbody>
							<!--end::Table body-->
						</table>
					</div>
					<!--end::Table-->
					<!-- begin::paging -->
					<!-- end::paging -->
				</div>
				<!--end::Card body-->
			</div>
			<!--end::Products-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Post-->
</div>
