<!--begin::Col-->
<div class="col-xl-3 col-lg-3 col-xl-3 col-xxl-3 mb-md-5 mb-xl-10">
	<!--begin::List widget 20-->
	<div class="card shadow 100">
		<!--begin::Header-->
		<div class="card-header border-0 pt-5">
			<h3 class="card-title align-items-start flex-column">
				<span class="card-label fw-bold text-dark">Quantity Estimator</span>
				<span class="text-muted mt-1 fw-semibold fs-7"> Calculators</span>
			</h3>
		</div>
		<!--end::Header-->
		<!--begin::Body-->
		<div class="card-body pt-6">
			<!--begin::Item-->
			<div class="d-flex flex-stack" data-bs-toggle="tooltip" data-bs-placement="top" title="House Construction Cost Calculator">
				<!--begin::Symbol-->
				<div class="symbol  symbol-30px">
					<img src="https://www.civil-engineering-calculators.com/images/icons/Icon_CostEstimator.png" alt="img" />
				</div>
				<!--end::Symbol-->
				<!--begin::Section-->
				<div class="d-flex align-items-center flex-row-fluid flex-wrap">
					<!--begin:Author-->
					<div class="flex-grow-1 mx-3 me-2">
						<a href="../../demo1/dist/pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">Construction Cost</a>
					</div>
					<!--end:Author-->
				</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
			<!--begin::Separator-->
			<div class="separator separator-dashed my-4"></div>
			<!--end::Separator-->
			<!--begin::Item-->
			<div class="d-flex flex-stack" data-bs-toggle="tooltip" data-bs-placement="top" title="Carpet Area / Built up Area / Super built up Area Calculator">
				<!--begin::Symbol-->
				<div class="symbol  symbol-30px">
					<img src="https://www.civil-engineering-calculators.com/images/icons/Icon_Carpet_Area.png" alt="img" />
				</div>
				<!--end::Symbol-->
				<!--begin::Section-->
				<div class="d-flex align-items-center flex-row-fluid flex-wrap">
					<!--begin:Author-->
					<div class="flex-grow-1 mx-3 me-2">
						<a href="../../demo1/dist/pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">Carpet Area / Built up Area</a>
					</div>
					<!--end:Author-->
				</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
			<!--begin::Separator-->
			<div class="separator separator-dashed my-4"></div>
			<!--end::Separator-->
			<!--begin::Item-->
			<div class="d-flex flex-stack" data-bs-toggle="tooltip" data-bs-placement="top" title="Cement Concrete Calculator">
				<!--begin::Symbol-->
				<div class="symbol  symbol-30px">
					<img src="https://www.civil-engineering-calculators.com/images/icons/PCC.png" alt="img" />
				</div>
				<!--end::Symbol-->
				<!--begin::Section-->
				<div class="d-flex align-items-center flex-row-fluid flex-wrap">
					<!--begin:Author-->
					<div class="flex-grow-1 mx-3 me-2">
						<a href="../../demo1/dist/pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">Cement Concrete Calculator</a>
					</div>
					<!--end:Author-->
				</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
			<!--begin::Separator-->
			<div class="separator separator-dashed my-4"></div>
			<!--end::Separator-->
			<!--begin::Item-->
			<div class="d-flex flex-stack" data-bs-toggle="tooltip" data-bs-placement="top" title="Plaster Calculator">
				<!--begin::Symbol-->
				<div class="symbol  symbol-30px">
					<img src="https://www.civil-engineering-calculators.com/images/icons/plastring.png" alt="img" />
				</div>
				<!--end::Symbol-->
				<!--begin::Section-->
				<div class="d-flex align-items-center flex-row-fluid flex-wrap">
					<!--begin:Author-->
					<div class="flex-grow-1 mx-3 me-2">
						<a href="../../demo1/dist/pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">Plaster Calculator</a>
					</div>
					<!--end:Author-->
				</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
			<!--begin::Separator-->
			<div class="separator separator-dashed my-4"></div>
			<!--end::Separator-->
			<!--begin::Item -->
			<div class="d-flex flex-stack" data-bs-toggle="tooltip" data-bs-placement="top" title="Brick Calculator">
				<!--begin::Symbol-->
				<div class="symbol  symbol-30px">
					<img src="https://www.civil-engineering-calculators.com/images/icons/claybricks.png" alt="img" />
				</div>
				<!--end::Symbol-->
				<!--begin::Section-->
				<div class="d-flex align-items-center flex-row-fluid flex-wrap">
					<!--begin:Author-->
					<div class="flex-grow-1 mx-3 me-2">
						<a asp-controller="BrickMasonryCalculator" asp-action="Index" class="text-gray-800 text-hover-primary fs-6 fw-bold">Brick Calculator</a>
					</div>
					<!--end:Author-->
				</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
			<!--begin::Separator-->
			<div class="separator separator-dashed my-4"></div>
			<!--end::Separator-->
			<!--begin::Item -->
			<div class="d-flex flex-stack" data-bs-toggle="tooltip" data-bs-placement="top" title="Concrete Block Calculator">
				<!--begin::Symbol-->
				<div class="symbol  symbol-30px">
					<img src="https://www.civil-engineering-calculators.com/images/icons/concreteblock.png" alt="img" />
				</div>
				<!--end::Symbol-->
				<!--begin::Section-->
				<div class="d-flex align-items-center flex-row-fluid flex-wrap">
					<!--begin:Author-->
					<div class="flex-grow-1 mx-3 me-2">
						<a href="../../demo1/dist/pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">Concrete Block Calculator</a>
					</div>
					<!--end:Author-->
				</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
			<!--begin::Separator-->
			<div class="separator separator-dashed my-4"></div>
			<!--end::Separator-->
			<!--begin::Item -->
			<div class="d-flex flex-stack" data-bs-toggle="tooltip" data-bs-placement="top" title="Brick Calculator">
				<!--begin::Symbol-->
				<div class="symbol  symbol-30px">
					<img src="https://www.civil-engineering-calculators.com/images/icons/claybricks.png" alt="img" />
				</div>
				<!--end::Symbol-->
				<!--begin::Section-->
				<div class="d-flex align-items-center flex-row-fluid flex-wrap">
					<!--begin:Author-->
					<div class="flex-grow-1 mx-3 me-2">
						<a href="../../demo1/dist/pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">Brick Calculator</a>
					</div>
					<!--end:Author-->
				</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
			<!--begin::Separator-->
			<div class="separator separator-dashed my-4"></div>
			<!--end::Separator-->
			<!--begin::Item -->
			<div class="d-flex flex-stack" data-bs-toggle="tooltip" data-bs-placement="top" title="Concrete Block Calculator">
				<!--begin::Symbol-->
				<div class="symbol  symbol-30px">
					<img src="https://www.civil-engineering-calculators.com/images/icons/concreteblock.png" alt="img" />
				</div>
				<!--end::Symbol-->
				<!--begin::Section-->
				<div class="d-flex align-items-center flex-row-fluid flex-wrap">
					<!--begin:Author-->
					<div class="flex-grow-1 mx-3 me-2">
						<a href="../../demo1/dist/pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">Concrete Block Calculator</a>
					</div>
					<!--end:Author-->
				</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
			<!--begin::Separator-->
			<div class="separator separator-dashed my-4"></div>
			<!--end::Separator-->
			<!--begin::Item -->
			<div class="d-flex flex-stack" data-bs-toggle="tooltip" data-bs-placement="top" title="Concrete Block Calculator">
				<!--begin::Symbol-->
				<div class="symbol  symbol-30px">
					<img src="https://www.civil-engineering-calculators.com/images/icons/concreteblock.png" alt="img" />
				</div>
				<!--end::Symbol-->
				<!--begin::Section-->
				<div class="d-flex align-items-center flex-row-fluid flex-wrap">
					<!--begin:Author-->
					<div class="flex-grow-1 mx-3 me-2">
						<a href="../../demo1/dist/pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">Concrete Block Calculator</a>
					</div>
					<!--end:Author-->
				</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
		</div>
		<!--end::Body-->
	</div>
	<!--end::List widget 20-->
</div>
<!--end::Col-->