@model CivilCalc.Areas.CAL_Category.Models.CAL_CategoryModel

@{
    ViewBag.PageHeader = "Category Add/Edit";
}

<div class="card  shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title fw-bolder">@ViewBag.Action Category</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <h4 class="title"></h4>
        <div class="">
            <form id="formAddEditSave_UMS" data-method="post"
                  asp-area="CAL_Category" asp-action="_Save" asp-controller="CAL_Category">
                @Html.HiddenFor(m => m.CategoryID)

                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Category Name</label>
                    <div class="col-md-5 p-2">
                        <input type="text" id="CategoryName" asp-for="CategoryName" class="form-control" placeholder="Enter Category Name" />
                        @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Description </label>
                    <div class="col-md-5 p-2">
                        <textarea type="text" asp-for="Description" class="form-control" placeholder="Enter  Description"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Sequence </label>
                    <div class="col-md-5 p-2">
                        <input type="text" asp-for="Sequence" class="form-control" placeholder="Enter Sequence " />
                    </div>
                </div>

                <hr class="form-button-divider" />
                <div class="row">
                    <div class="offset-md-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-form-submit" />
                        <a class="btn btn-light btn-sm" asp-area="CAL_Category" asp-action="Index" asp-controller="CAL_Category">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

