<!-- begin : first  -->
<div class="row gy-5 mt-2 mb-2 g-xl-8">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <!--begin:  value -->
                    <div class="col-md-12  text-center">
                        <img class="img-fluid" src="~/ClinetPanel/img/Brick-Masonry-Calculator-Clay-Brick-Calculator-Brick-Calculator.png" />
                       </div>
                    <!--end:  value -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--end : first -->