<!--begin: ads-->
<div class="col-md-5 mb-md-5 mb-xl-10 mb-3">
    <!--begin :card-->
    <div class="card shadow">
        <!--begin :card body-->
        <div class="card-body">
            <div class="row">
                <img src="~/ClinetPanel/img/10319505722267397698.jpeg" />
            </div>
        </div>
        <!--end :card body-->
    </div>
    <!--end :card -->
</div>
<!--end: ads-->