<div class="row">
    <!--begin:  value -->
    <div class="col-md-12  text-center">
        <img class="img-fluid" height="67px" src="~/ClinetPanel/img/Screenshot.png" />
    </div>
    <!--end:  value -->
</div>