
<partial name="/Views/StairCaseCalculator/_StairCaseCalculatorParameter.cshtml" />
<div id="SearchResult"></div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        $(document).ready(function () {
            $("#filterForm").submit();
        });
    </script>
}

