@model CivilCalc.Areas.MST_Configuration.Models.MST_ConfigurationModel

<div class="card shadow-sm">
    @*<div class="card-header">
        <h3 class="card-title">
            <span class="me-2"><i class="fa fa-search"></i></span> Search
            <small></small>
        </h3>
        <div class="card-toolbar">
            <button class="btn btn-sm btn-success js-stkModal-btn"
                    data-form-id="formAdd_UMS"
                    data-url='@Url.Action("_AddEdit","MST_Configuration", new {Area="MST_ConfigurationModel"})'
                    data-modal-size="lg">
                <i class="la la-plus"></i> Add New
            </button>

        </div>
    </div>*@
    <div class="">
        <form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
              data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
              asp-action="_SearchResult" asp-controller="MST_Configuration" novalidate="novalidate">
            @Html.AntiForgeryToken()
          
        </form>
    </div>
</div>