@{
    Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Toolbar-->
						<div class="toolbar" id="kt_toolbar">
							<!--begin::Container-->
							<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
								<!--begin::Page title-->
								<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
									<!--begin::Title-->
									<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">About Us</h1>
									<!--end::Title-->
									<!--begin::Separator-->
									<span class="h-20px border-gray-300 border-start mx-4"></span>
									<!--end::Separator-->
									<!--begin::Breadcrumb-->
									<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
										<!--begin::Item-->
										<li class="breadcrumb-item text-muted">
											<a href="" class="text-muted text-hover-primary">Home</a>
										</li>
										<!--end::Item-->
										<!--begin::Item-->
										<li class="breadcrumb-item">
											<span class="bullet bg-gray-300 w-5px h-2px"></span>
										</li>
										<!--end::Item-->
										<!--begin::Item-->
										<li class="breadcrumb-item text-muted">Pages</li>
										<!--end::Item-->
										<!--begin::Item-->
										<li class="breadcrumb-item">
											<span class="bullet bg-gray-300 w-5px h-2px"></span>
										</li>
										<!--end::Item-->
										<!--begin::Item-->
										<li class="breadcrumb-item text-dark">About Us</li>
										<!--end::Item-->
									</ul>
									<!--end::Breadcrumb-->
								</div>
								<!--end::Page title-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Toolbar-->
						<!--begin::Post-->
						<div class="post d-flex flex-column-fluid" id="kt_post">
							<!--begin::Container-->
							<div id="kt_content_container" class="container-xxl">
                            <div class="row gy-5 g-xl-8">
                                <div class="col-xl-12">
                                    <!--begin::Card-->
                                    <div class="card shadow-lg">
                                        <!--begin::Card body-->
                                        <div class="card-body">
                                            <!--begin::Heading-->
                                            <div class="card-px   pb-15">
                                                <!--begin::Title-->
                                                <h2 class="fs-2x fw-bolder mb-15"> Add WebConfiguration </h2>
                                                <!--end::Title-->
                                                <!--begin::Description-->

                                                <!--end::Description-->
                                                <!--begin::Scroll-->

                                                <!--begin::Input group-->
                                                <div class="row mb-5">
                                                    <!--begin::Col-->
                                                    <div class="col-md-6 fv-row">
                                                        <!--begin::Label-->
                                                        <label class="required  fs-5 fw-bold  mb-2">WebsiteLogo
                                                            Path</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text"
                                                            class="form-control form-control-solid hovarable"
                                                            placeholder="" name="first-name" />
                                                        <!--end::Input-->
                                                    </div>
                                                    <!--end::Col-->

                                                </div>
                                                <!--end::Input group-->

                                                <!--begin::Input group-->
                                                <div class="row mb-5">
                                                    <!--begin::Col-->
                                                    <div class="col-md-3 fv-row">
                                                        <!--begin::Label-->
                                                        <label class="required fs-5 fw-bold  mb-2">Meta Title
                                                        </label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text"
                                                            class="form-control form-control-solid hovarable"
                                                            placeholder="" name="" />
                                                        <!--end::Input-->
                                                    </div>
                                                    <!--end::Col-->
                                                    <!--begin::Col-->

                                                    <div class="col-md-3 fv-row">
                                                        <!--begin::Label-->
                                                        <label class="fs-5 fw-bold  mb-2">Meta Keyword</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text"
                                                            class="form-control form-control-solid hovarable"
                                                            placeholder="" name="" />
                                                        <!--end::Input-->
                                                    </div>

                                                    <!--end::Col-->
                                                    <!--begin::Col-->
                                                    <div class="col-md-3 fv-row">
                                                        <!--begin::Label-->
                                                        <label class="fs-5 fw-bold  mb-2">Meta Author</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text"
                                                            class="form-control form-control-solid hovarable"
                                                            placeholder="" name="" />
                                                        <!--end::Input-->
                                                    </div>
                                                    <!--end::Col-->

                                                    <!--begin::Col-->
                                                    <div class="col-md-3 fv-row">
                                                        <!--begin::Label-->
                                                        <label class="fs-5 fw-bold  mb-2">Meta Og Title
                                                        </label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text"
                                                            class="form-control form-control-solid hovarable"
                                                            placeholder="" name="first-name" />
                                                        <!--end::Input-->
                                                    </div>

                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->

                                                <!--begin::Input group-->
                                                <div class="d-flex flex-column mb-5 fv-row">
                                                    <!--begin::Label-->
                                                    <label class="fs-5 fw-bold mb-2">Meta Description</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <textarea rows="5" cols="50" class="form-control form-control-solid"
                                                        placeholder="" name=""></textarea>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->

                                                <!--begin::Input group-->
                                                <div class="row mb-5">

                                                    <!--begin::Col-->

                                                    <div class="col-md-3 fv-row">
                                                        <!--begin::Label-->
                                                        <label class="fs-5 fw-bold  mb-2">Meta Og Image</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text"
                                                            class="form-control form-control-solid hovarable"
                                                            placeholder="" name="" />
                                                        <!--end::Input-->
                                                    </div>

                                                    <!--end::Col-->
                                                    <!--begin::Col-->
                                                    <div class="col-md-3 fv-row">
                                                        <!--begin::Label-->
                                                        <label class="fs-5 fw-bold  mb-2">Meta Og Description</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text"
                                                            class="form-control form-control-solid hovarable"
                                                            placeholder="" name="" />
                                                        <!--end::Input-->
                                                    </div>
                                                    <!--end::Col-->

                                                    <!--begin::Col-->
                                                    <div class="col-md-3 fv-row">
                                                        <!--begin::Label-->
                                                        <label class="fs-5 fw-bold  mb-2">Meta Og Url
                                                        </label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text"
                                                            class="form-control form-control-solid hovarable"
                                                            placeholder="" name="first-name" />
                                                        <!--end::Input-->
                                                    </div>

                                                    <!--end::Col-->

                                                    <!--begin::Col-->
                                                    <div class="col-md-3 fv-row">
                                                        <!--begin::Label-->
                                                        <label class="fs-5 fw-bold  mb-2">Meta Og Type
                                                        </label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text"
                                                            class="form-control form-control-solid hovarable"
                                                            placeholder="" name="" />
                                                        <!--end::Input-->
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->



                                                <!--begin::Input group-->
                                                <div class="d-flex flex-column mb-5 fv-row">
                                                    <!--begin::Label-->
                                                    <label class="fs-5 fw-bold mb-2">About Website</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <textarea rows="5" cols="50" class="form-control form-control-solid"
                                                        placeholder="" name=""></textarea>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->

                                                <!--begin::Input group-->
                                                <div class="d-flex flex-column mb-5 fv-row">
                                                    <!--begin::Label-->
                                                    <label class="fs-5 fw-bold mb-2">MobileApp Detail</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <textarea rows="5" cols="50" class="form-control form-control-solid"
                                                        placeholder="" name=""></textarea>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->

                                                <!--begin::Input group-->
                                                <div class="row mb-5">
                                                    <!--begin::Col-->
                                                    <div class="col-md-6 fv-row">
                                                        <!--begin::Label-->
                                                        <label class="required  fs-5 fw-bold  mb-2">PlayStore
                                                            URL</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text"
                                                            class="form-control form-control-solid hovarable"
                                                            placeholder="" name="first-name" />
                                                        <!--end::Input-->
                                                    </div>
                                                    <!--end::Col-->
                                                    <!--begin::Col-->
                                                    <!--begin::Col-->
                                                    <div class="col-md-6 fv-row">
                                                        <!--begin::Label-->
                                                        <label class="required  fs-5 fw-bold  mb-2">AppStore URL</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text"
                                                            class="form-control form-control-solid hovarable"
                                                            placeholder="" name="first-name" />
                                                        <!--end::Input-->
                                                    </div>
                                                    <!--end::Col-->
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->

                                                <!--begin::Input group-->
                                                <div class="d-flex flex-column mb-5 fv-row">
                                                    <!--begin::Label-->
                                                    <label class="fs-5 fw-bold mb-2">Footer HTML</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <textarea rows="5" cols="50" class="form-control form-control-solid"
                                                        placeholder="" name=""></textarea>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->

                                                <!--begin::Input group-->
                                                <div class="d-flex flex-column mb-5 fv-row">
                                                    <!--begin::Label-->
                                                    <label class="fs-5 fw-bold mb-2">Description</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <textarea rows="5" cols="50" class="form-control form-control-solid"
                                                        placeholder="" name=""></textarea>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->


                                                <div class="row mt-3">
                                                    <div class="col text-end">
                                                        <a href="#" class="btn btn-primary btn-sm">Submit</a>
                                                        <a href="#" class="btn btn-danger btn-sm">clear</a>
                                                    </div>
                                                </div>
                                                <!--end::Scroll-->
                                            </div>
                                            <!--end::Heading-->
                                            <!--begin::Illustration-->
                                            <div class="text-center pb-15 px-5">
                                                <img src="assets/media/illustratiions/sketchy-1/19.png" alt=""
                                                    class="mw-100 h-200px h-sm-325px" />
                                            </div>
                                            <!--end::Illustration-->
                                        </div>
                                        <!--end::Card body-->
                                    </div>
                                    <!--end::Card-->
                                </div>
                            </div>
                        </div>
							<!--end::Container-->
						</div>
						<!--end::Post-->
					</div>
