<!--begin::Footer-->
<div id="kt_app_footer" class="app-footer">
    <!--begin::Footer container-->
    <div class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">@DateTime.Now.ToString("yyyy")©</span>
            <a href="https://darshan.ac.in" target="_blank" class="text-gray-800 text-hover-primary">Darshan University</a>
        </div>
        <!--end::Copyright-->
        <!--begin::Menu-->
        <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
            <li class="menu-item">
                <a href="tel:09426843709" class="menu-link px-2">For Support, <i class="la la-phone px-1"></i> +91-9426843709</a>
            </li>
            <li class="menu-item">
                <span class="menu-link px-2">|</span>
            </li>
            <li class="menu-item">
                <span class="menu-link px-2">Version: 1.0.0</span>
            </li>
        </ul>
        <!--end::Menu-->
    </div>
    <!--end::Footer container-->
</div>
<!--end::Footer-->