<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">
    <partial name="AdminPanel/partials/_navbar_search" />
    <partial name="AdminPanel/partials/_navbar_bookmark" />

    <!--begin::Chat-->
    <div class="app-navbar-item ms-1 ms-lg-3">
        <!--begin::Menu wrapper-->
        <div class="btn btn-icon btn-active-light btn-active-color-primary w-35px h-35px w-md-35px h-md-35px"
             data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="left" title="Contact Directory">
            <i class="la la-phone fs-2"></i>
        </div>
        <!--end::Menu wrapper-->
    </div>
    <!--end::Chat-->

    <partial name="AdminPanel/partials/_navbar_user" />

</div>
<!--end::Navbar-->