<!--begin::Quick links-->
<div class="app-navbar-item ms-1 ms-lg-3">
    <!--begin::Menu wrapper-->
    <div class="btn btn-icon btn-active-light btn-active-color-primary w-35px h-35px w-md-35px h-md-35px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end"
         data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="left" title="Bookmarked Screens">
        <i class="la la-star-o fs-2"></i>
    </div>
    <!--begin::Menu-->
    <div class="menu menu-sub menu-sub-dropdown menu-column w-250px w-lg-325px p-6" data-kt-menu="true">

        <!--begin:Nav-->
        <div class="row g-0">
            <div class="col">
                <!--begin::Menu List-->
                <div class="table-responsive scroll-y mh-200px mh-lg-325px">
                    <table class="table table-row-bordered table-row-gray-300 mb-0 gx-2 gy-2">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#" class="">
                                        <span class="fw-bolder text-body text-hover-primary">Student Certificate</span>
                                        <br />
                                        <small class="text-muted"><i class="la la-home"></i> > Students > </small>
                                    </a>
                                </td>
                                <td class="w-10px">
                                    <a class="btn btn-sm btn-icon btn-active-color-primary"><i class="la la-star-o fs-4"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fw-bolder">Off Roll Student List</span>
                                    <br />
                                    <small class="text-muted"><i class="la la-home"></i> > Students > Reports ></small>
                                </td>
                                <td class="w-10px">
                                    <a class="btn btn-sm btn-icon btn-active-color-primary"><i class="la la-star-o  fs-4"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fw-bolder">Fee Dashboard</span>
                                    <br />
                                    <small class="text-muted"><i class="la la-home"></i> > Fee > </small>
                                </td>
                                <td class="w-10px">
                                    <a class="btn btn-sm btn-icon btn-active-color-primary"><i class="la la-star-o  fs-4"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fw-bolder">Print Timetable</span>
                                    <br />
                                    <small class="text-muted"><i class="la la-home"></i> > Timetable/Attendance > </small>
                                </td>
                                <td class="w-10px">
                                    <a class="btn btn-sm btn-icon btn-active-color-primary"><i class="la la-star-o  fs-4"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--end::Menu List-->
            </div>
        </div>
        <!--end:Nav-->
    </div>
    <!--end::Menu-->
    <!--end::Menu wrapper-->
</div>
<!--end::Quick links-->